@{
    ViewBag.Title = "About";
}
                    <div class="col-2-5">
                        <div class="wrap-col">
                            <h2>About Us</h2>
                            <img src="~/images/page2_img1.jpg" alt="" class="img_inner">
                            <p class="col1">Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget. </p>
                            <p>Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget.  </p>
                            Donec eu felis purus, iaculis fringilla ipsum. Integer non. nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus.       <br>
                            <a href="#" class="btn m1">More</a>
                        </div>
                    </div>
                    <div class="col-1-5"><div class="wrap-col"><!--empty--></div></div>
                    <div class="col-2-5">
                        <div class="wrap-col">
                            <h2>Testimonials</h2>
                            <ul class="testimo">
                                <li>
                                    <blockquote>
                                        <img src="~/images/page2_img2.png" alt="">
                                        <div class="extra_wrapper">
                                            <div class="title">Sara &amp; Kevin <br> Jonson</div>
                                        </div>
                                        <div class="clear"></div>
                                        <p class="col1"><a href="#">Euismod pellentesque in dui. Semper, enim eget eleifend faucibus, sem libero gravida erat, sit amet viverra dui nisl non nulla. Pellentesque in dui euismod.        </a></p>
                                        <p>Curabitur felis purus, iaculis fringi. ipsum. Integer non nulla sem, eget volutpat augue. Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringilla ipsum. Inte ger non nulla sem, eget volutpat augue. Curabitur in turpisju massa. Donec et nibh non turpis pellentesque suscipit eget vel odio.  Aliquam consectetur. Fringilla ipsum.           </p>
                                        <p>
                                            Ringilla ipsum. Donec et nibh non turpis pellentesque suscipit eget vel odio. Sed tempus orci tempus libero suscipit elementum. Aliquam consectetur. Ghfgop Maecnas cursus fringilla sagittis. Donec eu felis purus, iaculis fringi. ipsum. Integer non nulla sem, eget volutpat augue. Ghfgop pelle ntesque suscipit eget consectetur.
                                        </p>
                                    </blockquote>
                                </li>
                            </ul>
                        </div>
                    </div>
               


                <div class="col-full">
                    <div class="hor_separator hor1"></div>
                    <h2 class="head1">Our Best Chefs</h2>
                </div>
                <div class="clear"></div>

                <div class="row">
                    <div class="chefs">
                        <div class="col-1-4">
                            <div class="wrap-col">
                                <img src="~/images/page2_img3.jpg" alt="" class="img_inner">
                                <p class="col1"><a href="#">Ann Franklin</a></p>Nulla pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum arcu
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col">
                                <img src="~/images/page2_img4.jpg" alt="" class="img_inner">
                                <p class="col1"><a href="#"> Milisa Dayemond</a></p>Lorem ipsum pellentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa iaculis. Integer a diam a odio.
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col">
                                <img src="~/images/page2_img5.jpg" alt="" class="img_inner">
                                <p class="col1"><a href="#">Liza Croft</a></p>Aenean velittempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.
                            </div>
                        </div>
                        <div class="col-1-4">
                            <div class="wrap-col">
                                <img src="~/images/page2_img6.jpg" alt="" class="img_inner">
                                <p class="col1"><a href="#">Alan Soares</a></p>Donec necllentesque tempus quam nec porta. Donec nec lorem enim. Aenean velit velit, faucibus sed porta quis, gt er semper ac elit. Aliquam hendrerit mo lestie turpis condimentum tristique. Fty aliquam malesuada orci a massa yht. semper sed interdum.
                            </div>
                        </div>
                    </div>
                </div>
